/* album-rating.component.css */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Define the CSS styles for the icons */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
  display: inline-block; /* Add this to create space for the icon */
}

.material-symbols-outlined::before {
  content: attr(data-icon); /* Set the Unicode character code as content */
}

.material-symbols-outlined:hover {
  color: #f39c12; /* Customize hover color */
}

.vote-button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.vote-button:hover {
  background-color: #f39c12; /* Customize hover background color */
  color: white; /* Customize hover text color */
}

.voted {
  background-color: #3498db; /* Customize voted background color */
  color: white; /* Customize voted text color */
}

.active {
  background-color: #3498db; /* Customize active/voted background color */
  color: rgb(255, 255, 255); /* Customize active/voted text color */
}
