<!-- navigation.component.html -->
<mat-toolbar color="primary">
  <img src="assets/io records logo.gif" alt="Logo" class="logo">

  <div class="left-items">
  <a mat-button routerLink="/home" routerLinkActive="active-link" color="accent">Home</a>
  <a mat-button routerLink="/albums" routerLinkActive="active-link" color="accent">Albums</a>
  <a mat-button routerLink="/artists" routerLinkActive="active-link" color="accent">Artists</a>
  <a mat-button href="https://website5686011.nicepage.io/Page-2.html?version=253e8b74-e300-4cb4-a971-a21fd87bceaa&uid=2b53dc65-6322-49cb-9190-4420bb8423c3" routerLinkActive="active-link" color="accent">Blog</a>
  </div>

  <div class="right-items">
  <!-- Cart -->
  <a mat-button (click)="toggleTag()" routerLinkActive="active-link" color="accent"><mat-icon matBadgeSize="small" matBadge="{{itemCount}}" matBadgeColor="accent" >shopping_cart</mat-icon></a>
  <!-- Other navigation items -->
  <div *ngIf="!authService.isLoggedIn()">
    <a mat-button routerLink="/auth" routerLinkActive="active-link" color="accent">Login</a>
    <a mat-button routerLink="/register" routerLinkActive="active-link" color="accent">Register</a>
  </div>

  <div *ngIf="authService.isLoggedIn()">
    <a mat-button (click)="logout()" routerLinkActive="active-link" color="accent">Logout</a>
    <a mat-button routerLink="/orders" routerLinkActive="active-link" color="accent">My Orders</a>
  </div>
  </div>

</mat-toolbar>

<app-cart-panel *ngIf="isTagOpen" [isTagOpen]="isTagOpen" (closePanel)="toggleTag()"></app-cart-panel>


