.side_filter {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}


.side_filter.active_filter {
  transform: translate(0);
  transition: transform 0.4s ease-in;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
}

.side_filter.close_filter {
  transform: translate(150%, 0%);
  transition: transform 0.4s ease-out;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
}


.filter_inner_wrapper {
  padding: 40px;
  height: 100%;
}

.fliter_main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 25px 0;
  width: 100%;
  position: relative;
  /* font-size: 25px;
    font-weight: 600;
    color: #050a2b; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0E162D;
}

.close_filter_btn {
  width: 30px;
  height: 30px;
  border: 1px solid #E8E8E8;
  color: #818990;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  position: absolute;
  right: 0px;
  top: 0px;
}

.close_filter_btn>.material-icons {
  font-size: 18px;
}

.album-cover {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: cover;
}

.album-cover {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

h2 {
  margin-top: 0;
}

.album-info {
  display: flex;
  align-items: center;
  height: 100px;
}

.album-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.quantity,
.price {
  margin-right: 10px;
}

button {
  margin-top: 10px;
}

hr {
  margin: 10px 0;
}

.remove {
margin-left: 100px;
}

