<!-- cart-panel.component.html -->

<div
  class="side_filter"
  [ngClass]="{ active_filter: isTagOpen, close_filter: !isTagOpen }"
>
  <div class="filter_inner_wrapper">
    <div class="fliter_main_header">
      <h2>Your Cart</h2>
      <button mat-icon-button (click)="close()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="cart-summary">
      Subtotal ({{ itemCount }} Items): ${{ total }}
    </div>
    <button
      mat-raised-button
      color="primary"
      class="checkout-button"
      (click)="proceedToCheckout()"
    >
      Proceed to Checkout
    </button>

    <div *ngIf="isTagOpen; else emptyCart">
      <div *ngFor="let item of cart">
        <hr />
        <div class="album-info" style="background-color: rgb(240, 149, 234)">
          <img
            class="album-cover"
            [src]="BASE_API_URL + item.album.album_cover"
            alt="Album cover"
          />
          <div>
            <div class="album-title">{{ item.album.album_title }}</div>
            <!-- <div class="quantity">Quantity: {{ item.quantity }}</div> -->
            <div class="quantity">
              Quantity:
              <button (click)="decrementQuantity(item)">-</button>
              <span>{{ item.quantity }}</span>
              <button (click)="incrementQuantity(item)">+</button>
            </div>
            <div class="price">
              Price: ${{ item.album.price }}
              <button class="remove" (click)="removeFromCart(item)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <ng-template #emptyCart>
      <p>Your cart is empty.</p>
    </ng-template>

  </div>
</div>

